{% extends "emails/email_base.html" %}
{% block content %}

<h1>New Discussion Comment</h1>

<p>Hi {{ user.first_name }},</p>

<p>{{ author.get_full_name }} posted a new discussion comment for the "{{ project.name }}" project:</p>

<hr />

<h2><a href="{{ main_url }}{{ discussion.get_absolute_url }}">{{ discussion.title }}</a></h2>

<blockquote>
{{ discussion_comment.content|urlize|linebreaksbr }}
</blockquote>

<p>You can view and reply to it <a href="{{ main_url }}{{ discussion.get_absolute_url }}">on { unity }</a></p>

{% endblock %}