<script type="text/x-underscore-template" id="templates-base-dialog">
	<div class="modal hide fade" id="dialog-<%= modal.DOMId %>" data-identifier="<%= modal.identifier %>">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3><%= modal.header %></h3>
		</div>
		<div class="modal-body">
			<%= modal.body %>
		</div>
		<div class="modal-footer">
			<%= modal.buttons %>
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>
</script>

<script type="text/x-underscore-template" id="templates-base-dialog-button">
	<a href="#" class="btn <%= classes %>"><%= text %></a>
</script>

<script type="text/x-underscore-template" id="templates-global-error">
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Error!</strong> <%= message %>
	</div>
</script>

<script type="text/x-underscore-template" id="templates-global-info">
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Info!</strong> <%= message %>
	</div>
</script>