<script type="text/x-underscore-template" id="templates-dialog-lists-edit">
	<div class="dialog-form lists-edit">
		<form action="<%= info.url %>" method="post" class="dialog-crud" data-model="<%= info.model %>" data-crud="<%= info.crud %>" data-id="<%= list.id %>">
			<div class="form-field">
				<label>Name</label>
				<input type="text" placeholder="Name of the List" name="name" class="input-xlarge" value="<% if (list.attributes.name) { %><%= _.escape(list.attributes.name) %><% } %>">
			</div>
			<div class="form-field">
				<label>Milestone</label>
				<select name="milestone" class="input-xlarge">
					<option value="">None</option>
					<% _.each(milestones, function(milestone) { %>
						<option value="<%= milestone.id %>"<% if (list.attributes.milestone && list.attributes.milestone.id == milestone.id) { %> selected="selected"<% } %>><%= _.escape(milestone.name) %></option>
					<% }); %>
				</select>
			</div>
			<div class="form-field">
				<label>Description</label>
				<textarea name="description" class="input-xlarge"><% if (list.attributes.description) { %><%= _.escape(list.attributes.description) %><% } %></textarea>
			</div>
			{% if user.is_staff %}
			<div class="form-field">
				<label class="checkbox">
					<input type="checkbox" name="private" value="True"<% if (list.attributes.private) { %> checked="checked"<% } %>> Is the List Private?
				</label>
			</div>
			{% endif %}
		</form>
	</div>
</script>