{% extends "base.html" %}
{% block title %} | Login{% endblock %}
{% load url from future %}

{% block content %}
	<div class="container" id="login">
		<h1>Login</h1>
		{% if form.errors %}
		<div class="alert alert-block alert-error fade in span4">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4 class="alert-heading">Oh snap! You got an error!</h4>
			<p>Your login details are invalid. Please try again.</p>
		</div>
		{% endif %}

		<div class="row span4">
			<form class="well" method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">
				<input type="text" name="username" class="input-xlarge" placeholder="Username">
				<input type="password" name="password" class="input-xlarge" placeholder="Password">
				<button type="submit" class="btn btn-primary">Login</button> <a href="{% url 'password-reset' %}">Forgot password?</a>
			</form>
		</div>
	</div> <!-- /container -->
{% endblock %}