{% extends "base.html" %}
{% load i18n %}
{% block title %} | Password Reset{% endblock %}
{% load url from future %}

{% block content %}
	<div class="container" id="login">
		<h1>Password Reset</h1>
		<p class="lead">What's your email?</p>

		<div class="row span4">
			<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

			<form class="well" action="" method="post">{% csrf_token %}
			{{ form.email.errors }}
			<p><label for="id_email">Email:</label> {{ form.email }} <input type="submit" class="btn btn-primary" value="Reset my password" /></p>
			</form>
		</div>
	</div> <!-- /container -->
{% endblock %}