{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
	<div class="container" id="login">
		<h1>Password Reset</h1>
		<p class="lead">You're Done!</p>
		<div class="alert alert-block alert-success fade in span4">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4 class="alert-heading">Wohoo!</h4>
			<p>Your password has been set. You may go ahead and log in now.</p>
		</div>

		<div class="row span4">
			<p>
				<a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}">Login</a>
			</p>
		</div>
	</div> <!-- /container -->
{% endblock %}